.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 40px;
}

.imgInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.imgContainer {
  padding: 0px;
  max-width: 660px;
}

.imgBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: bold;
}

.eyeBtn {
  font-weight: bold;
  line-height: 16px;
  margin: 10px 0px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.cubeBtn {
  font-weight: bold;
  line-height: 16px;
  margin: 10px 0px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.infoContainer {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-width: 340px;
  margin-left: 20px;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: bold;
}

.fullname {
  font-weight: bold;
  font-size: 25px;
}

.artistFullnameContainer {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.artistFullname {
  color: #c08e39;
  background-color: transparent;
  text-decoration: none;
}

.extraDetailsContainer {
  margin-top: 5px;
}

.priceText {
  margin-top: 10px;
  font-size: 25px;
}

.acquireBtn {
  font-size: 1.2rem;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 64px;
  cursor: pointer;
  padding: 0.3rem 1.4rem;
  margin: 10px 0px;
}

.offerBtn {
  font-size: 1.2rem;
  width: 100%;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 64px;
  cursor: pointer;
  padding: 0.3rem 1.4rem;
  margin: 10px 0px;
}

.prereserveBtn {
  font-weight: bold;
  line-height: 16px;
  margin: 10px 0px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delivryDescription {
  font-weight: bold;
  margin: 10px 0px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.delivryText {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.locationText {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.tryForFreeText {
  font-weight: bold;
  font-size: 14px;
}

.flexrow {
  display: flex;
  flex-direction: row;
}
.style_01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.style_01_container {
  display: flex;
  justify-content: space-between;
}

.style_01_content {

}

.style_02 {
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: -2px;
  color: black
}

.style_03 {
  font-family: PolySansMedian;
  font-size: 2rem;
}

.carousel {
  /* background-color: aliceblue; */
}

.details {
  margin: 20px 0px;
  color: #333333
}

.descriptionContainer {
  border-bottom: 1px solid black;
}

.descriptiontext {
  padding-bottom: 15px;
}

.subjectContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.subjectKey {
  display: inline-block;
  min-width: 100px;
}