.carousel-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.carousel-container {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  min-height: 120px;
}

.carousel-btn-wrapper {
  display: flex;
  width: 20px;
}

.carousel-btn-wrapper > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carousel-slider {
  position: absolute;
  height: 100%;
  transition: transform 330ms ease-in-out;
}