.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: #5d5d5d;
  font-size: 18px;
}

.span {
  padding: 0px 2px;
}

.spanlatest {
  padding: 0px 2px;
  color: black;
  font-size: 20px;
}

.img {
  width: 8px;
  color: 'darkslategray';
  margin-right: 3px;
}